
<div class="row" >
  <div class="shadow-lg col-sm-4">
    <div class="card" style="width: 20rem;">
      <img class= "propImg" src="assets\Rowhouse-South-Philly.jpg" alt="Card image cap">
      <div class="card-body p-2">
        <h1>{{Property.Type}}</h1>
        <h2>{{Property.Price}}</h2>
        <h3>{{Property.Name}}</h3>
        <h4 style="color:orange">{{Property.Status}}</h4>
      </div>
    </div>
  </div>

  <div class="shadow-lg col-sm-4">
    <div class="card" style="width: 20rem;">
      <img class= "propImg" src="assets\Rowhouse-South-Philly.jpg" alt="Card image cap">
      <div class="card-body p-2">
        <h1>{{Property.Type}}</h1>
        <h2>{{Property.Price}}</h2>
        <h3>{{Property.Name}}</h3>
        <h4 style="color:orange">{{Property.Status}}</h4>
      </div>
    </div>
  </div>
</div>
